@mixin fonts($font-size, $font-family, $font-weight, $font-color)

{
    font-size: $font-size;
    font-family:  $font-family;
    font-weight: $font-weight;
    color: $font-color;
}

@mixin button ($width, $height, $bg, $border)
{
    width: $width !important;
    height: $height !important;
    background-color: $bg !important;
    border: $border !important; 
}

