$p-1:#02a8f3;
$p-2:#f65d2d;
$p-3:#ecfa4d;
$p-4:#656a70;

$l1-p1:mix($p-1, #fff, 60%);
$l2-p1:mix($p-1, #fff, 25%);
$l3-p1:mix($p-1, #fff, 10%);

$l1-p2:mix($p-2, #fff, 60%);
$l2-p2:mix($p-2, #fff, 25%);
$l3-p2:mix($p-2, #fff, 10%);

$l1-p3:mix($p-3, #fff, 60%);
$l2-p3:mix($p-3, #fff, 25%);
$l3-p3:mix($p-3, #fff, 10%);

$l1-p4:mix($p-4, #fff, 60%);
$l2-p4:mix($p-4, #fff, 25%);
$l3-p4:mix($p-4, #fff, 10%);

//$l1-p1:lighten($p-1, 20%);
//$l2-p1:lighten($p-1, 50%);



$d1-p1:mix($p-1, #000, 80%);
$d2-p1:mix($p-1, #000, 50%);
$d3-p1:mix($p-1, #000, 30%);

$d1-p2:mix($p-2, #000, 80%);
$d2-p2:mix($p-2, #000, 50%);
$d3-p2:mix($p-2, #000, 30%);

$d1-p3:mix($p-3, #000, 80%);
$d2-p3:mix($p-3, #000, 50%);
$d3-p3:mix($p-3, #000, 30%);

$d1-p4:mix($p-4, #000, 80%);
$d2-p4:mix($p-4, #000, 50%);
$d3-p4:mix($p-4, #000, 30%);

$font-m: 'poppinsmedium';
$font-sb: 'poppinsssemimedium';