
h1, h2, h3, h4, h5, h5 , div, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    margin-bottom: 200px;
}


.color {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;

    div
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:solid lightblue 1px;
}
.p-1 {
    background-color: $p-1;
}

.p-2 {
    background-color: $p-2;
}

.p-3 {
    background-color: $p-3;
}

.p-4 {
    background-color: $p-4;
}


.l1-1{
    background-color: $l1-p1;
}

.l1-2{
    background-color: $l1-p2;
}

.l1-3{
    background-color: $l1-p3;
}

.l1-4{
    background-color: $l1-p4;
}



.l2-1{
    background-color: $l2-p1;
}

.l2-2{
    background-color: $l2-p2;
}
.l2-3{
    background-color: $l2-p3;
}

.l2-4{
    background-color: $l2-p4;
}

.l3-1{
    background-color: $l3-p1;
}

.l3-2{
    background-color: $l3-p2;
}
.l3-3{
    background-color: $l3-p3;
}
.l3-4{
    background-color: $l3-p4;
}

.d1-1 {
    background-color: $d1-p1;

}

.d2-1 {
    background-color: $d2-p1;

}
.d3-1 {
    background-color: $d3-p1;

}

.d1-2 {
    background-color: $d1-p2;

}

.d2-2 {
    background-color: $d2-p2;

}
.d3-2 {
    background-color: $d3-p2;

}

.d1-3 {
    background-color: $d1-p3;

}

.d2-3 {
    background-color: $d2-p3;

}
.d3-3 {
    background-color: $d3-p3;

}

.d1-4 {
    background-color: $d1-p4;
}

.d2-4 {
    background-color: $d2-p4;

}
.d3-4 {
    background-color: $d3-p4;
}

}


    h1 {@include fonts(35px,'poppinsbold', 400, #1e2021);}
    h2 {@include fonts(33px,'poppinsmedium', 400, #323538);}
    h3 {@include fonts(27px,'poppinsmedium', 400, #1e2021);}
    h4 {@include fonts(22px,'poppinsmedium', 400, #1e2021);}
    h5 {@include fonts(17px,'poppinsmedium', 400, #1e2021);}
    h6 {@include fonts(15px,'poppinsmedium', 400, #1e2021);}

    
.text{
margin-top: 50px;

    p {
        @include fonts(14px,'poppinsregular', 400, #51555a);
    }

    ul{
    list-style-type: none;
    @include fonts(15px,'poppinsmedium', 400, #51555a);
    line-height: 28px;

            i{color: #03a9f4; margin-right: 10px;}

    }
}

.art {
background-color: #fff;
    p{
        @include fonts(20px,'poppinsmedium', 400, #51555a);
        padding: 20px;

    }




}

.art :hover {

    background-color: #03a9f4;
    p{
        @include fonts(20px,'poppinsmedium', 400, #fff);
        padding: 20px;


    }
}


 

.blue {
    background-color: #e6f7fe;
    @include fonts(17px,'poppinsregular', 400, #03a9f4);
    padding-left: 0px;
display: flex;
flex-direction: row;

.line {
    background-color: #03a9f4;
    width: 15px;
    display: inline-block;
align-items:stretch ;}   

p{
    padding: 20px 20px 10px 40px;
}

}


.normal {
    input {
    background-color: #f9f6f8;
    border: #323538 solid 1px;
    width: 100%;    
        @include fonts(13px,'poppinsregular', 400, #656a70);
        padding: 10px;
        height: 40px;
        border-radius: 5px;
}
}
.normal :active{
    input {
    background-color: #fff;
    border: #323538 solid 1px;
    width: 100%;    
        @include fonts(13px,'poppinsregular', 400, #656a70);
        padding: 10px;
        height: 40px;
        border-radius: 5px;


}

}
.normal :hover {
    input {
    background-color: #fff;
    border: #03a9f4 solid 1px;
    width: 100%;    
        @include fonts(13px,'poppinsregular', 400, #656a70);
        padding: 10px;
        height: 40px;
        border-radius: 5px;


}
}

.input-group {

select {

    background-color: #f9f6f8;
    border: #323538 solid 1px;
        @include fonts(13px,'poppinsregular', 400, #656a70);
        border-radius: 5px;
        height: 40px;
}
}

.custom-select :hover

{
   
        background-color: #fff;
            @include fonts(13px,'poppinsregular', 400, #656a70);
            height: 40px;
        border-radius: 5px;
   
    }

.number {
     .btn-outline-secondary {
        @include fonts(13px,'poppinsregular', 400, #656a70);
        background-color: #fff;
        height: 40px;
        width: 40px;
        border-color:#656a70;
    }
}

.form-control{
    @include fonts(13px,'poppinsregular', 400, #656a70);
    height: 40px;
    border-color:#656a70;
text-align: center;
background-color: #f6f9f9;
}

.btn .btn-primary
 {

    background-color: $p-2;
   }

.btn1 {
    width: 220px;
   height: 50px;
}

.btn .btn-secondary .btn2 .btn3 
{
background-color: $p-1;
}

.btn2
 {
    width: 280px;
   height: 50px;
}

.btn3 {
    width: 200px;
    height: 50px;
}

.btn4  {
    @include button(220px, 50px, #fff, $p-2 solid 1px);
}

.btn4:hover {
    @include button(220px, 50px, $p-2, $p-2 solid 1px);
}

.btn5 {
    width: 200px;
    height: 50px;
}

.btn1sm{
    height: 40px;
    width: 180px;
}

.btn2sm {
    height: 40px;
    width: 170px;
}

.btn3sm {
    height: 40px;
    width: 150px;
}

.btn4sm {
    @include button(150px, 40px, #fff, $p-2 solid 1px);
   }

 .btn4sm:hover {
    @include button(150px, 40px, $p-2, $p-2 solid 1px);

 }  



.btn5sm{
    @include button(150px, 40px, #fff, $p-1 solid 1px);
}
.btn5sm:hover {
    @include button(150px, 40px, $p-1, $p-1 solid 1px);

}


.btn-group {
     .kol{
height: 30px;
width: 30px;
border-radius: 50%;        }
}


label, input[type="radio"], input[type="checkbox"] {
    line-height: 2.1ex;
 }
  
 input[type="radio"],
 input[type="checkbox"] {
     position: absolute;
     left: -999em;
 }
  
 input[type="radio"] + label,
 input[type="checkbox"] + label {
     position: relative;
     overflow: hidden;
     cursor: pointer;
 }
  
 input[type="radio"] + label::before,
 input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
    margin-right: 0.5em;
 }
  
 input[type="radio"]:checked + label::before {
    background: radial-gradient(circle at center, #1062a4 .6ex, white .7ex);
 }
  
 input[type="radio"] + label::before {
    border-radius: 50%;
 }
  
 input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 0.9ex;
    left: 0.4ex;
    border: 3px solid #1062a4;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }
 
 