.bluee {
    height: 100px;
    background-color: $p-1;
    
  img {
      margin-top: 20px;
  }  
    .dropdown
  {
    margin-top: 35px;
      a{
     @include fonts (11px, poppinsmedium, 400, #fff);
     text-transform: uppercase;
        }
    } 




.buts{
    margin-top: 30px;
.burger{
    margin-left: 5px;
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;

.burger::after {
    position: absolute;
    top: 20px;
}
.burger::before {
    position: absolute;
    top: -20px;
}}
  
.btn6  {
    @include button(100px, 40px,$d1-p1, $d1-p1 solid 1px);
    @include fonts (12px, poppinsmedium, 400, #fff);
}
.btn7  {
    @include button(100px, 40px,$p-2, $p-2 solid 1px);
    @include fonts (12px, poppinsmedium, 400, #fff);
    margin-left:10px ;
}  
}
}

.headd {
    height:630px;
    background-color: $l3-p1;
    background-image: url(../../../img/city.png);
    background-repeat: no-repeat;
background-position-y: bottom;
position: relative;

.maintext{
    margin-top:145px ;
    @include fonts (47px, poppinsbold, 400, $p-1);

span{    display: block;
    @include fonts (45px, poppinsbold, 400, #323538);
}
.orange {
    width: 50px;
    height: 2px;
    background-color: $p-2;
}
.grey {
    width: 490px;
    height: 1px;
    background-color:grey;
}
p{
    @include fonts (20px, poppinsregular, 400, $p-4);
    display: inline-block;
    width: 70%;
    margin-top: 40px;

}

.btn7{
    @include button(220px, 45px,$p-2, $p-2 solid 1px);
    @include fonts (12px, poppinsmedium, 400, #fff);

}
}

.girl {
position: absolute;
top: 121px;
right: 40px;
}

.calc {
    height: 135px;
    background-color: $p-1;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    label { @include fonts (13px, poppinsmedium, 100, #fff);    }

                .mencalc{

                        margin-top: 30px;

                                .form-group 
                                            {               
                                                width: 200px;
                                                margin-left: 30px;
                                            }
                        }
                .plus
                {
                       width: 100%;
                       margin-top: 30px;

                }

                .btn-outline-secondary
                {

                    background-color: #fff;
                }
                .form-control 
                {
                    text-align: center;
                }

                .btn6 {
                    margin-top: 62px;
                    display: inline-block;
                    width: 150px;
                    margin-left: -10px;
                    
                }

     }

}

     
 

