@font-face{
    font-family:'poppinsbold';
    src: url(../../fonts/Poppins-Bold.woff);
}

@font-face {
font-family:'poppinsmedium';
src: url(../../fonts/Poppins-Medium.woff);
}

@font-face {
    font-family:'poppinsssemimedium';
    src: url(../../fonts/Poppins-Medium.woff);
    
    }

    
@font-face {
    font-family:'poppinsregular';
    src: url(../../fonts/Poppins-Regular.woff);
    
    }
    