@font-face{
    font-family:'poppinsbold';
    src: url(../../fonts/Poppins-Bold.woff);
}

@font-face {
font-family:'poppinsmedium';
src: url(../../fonts/Poppins-Medium.woff);
}

@font-face {
    font-family:'poppinsssemibold';
    src: url(../../fonts/Poppins-SemiBold.woff);
    
    }

    
@font-face {
    font-family:'poppinsregular';
    src: url(../../fonts/Poppins-Regular.woff);
    
    }
    
@font-face {
    font-family: 'opensansitalic';
    src: url(../../fonts/OpenSans-Italic.woff);
}    